/**
 * Account styles
 *
 * @package    HNG2
 * @subpackage accounts
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

#login_module_header .login input[name="user_name"] { width: 100px; }
#login_module_header .login input[name="password"]  { width: 100px; }

#loggedin_username { font-weight: bold; }

#login_form                 { display: inline-block; line-height: 40px; }
#login_form .field          { display: inline-block; margin: 0 10px; }
#login_form .field .caption { display: inline-block; }

.userdata_form       { text-align: center; margin-left: auto; margin-right: auto; }
.userdata_form .cell { text-align: left; padding: 20px; vertical-align: top; }
@media all and (min-width: 851px)
{
    .userdata_form .cell { width: 46%; display: inline-block; }
}
@media all and (max-width: 850px) and (min-width: 100px)
{
    .userdata_form .cell { display: block; }
}

.userdata_form .cell.full_width { display: block; width: 100%; }

.userdata_form .field_caption         { margin-bottom: 5px; }
.userdata_form .field_input           { margin-left: 24px; }
.userdata_form select                 ,
.userdata_form input[type="text"]     ,
.userdata_form input[type="password"] { width: 99%; font-size: 12pt; }

.framed_content.state_ko ul { margin-top: 5px; margin-bottom: 5px; padding-left: 18px; }

/* Left sidebar widget styles */

#left_sidebar .group.account_meta .item.user_name {
    padding-left: 28px;
    padding-top:  4px;
    background-repeat: no-repeat;
    background-position: 6px 4px;
    background-size: 16px;
}

#filter_form .extra_filters { display: flex; gap: 5px; flex-wrap: wrap; }
